<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rvir.projekt">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.rvir.projekt.MainActivity" />
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:label="@string/title_activity_reg"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.rvir.projekt.MainActivity" />
        </activity>
        <activity
            android:name=".Osnov_podatkiActivity"
            android:label="@string/title_activity_osnov_podat"
            android:parentActivityName=".RegisterActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.rvir.projekt.RegisterActivity" />
        </activity>
        <activity
            android:name=".Izracun"
            android:label="@string/title_activity_izracun"
            android:parentActivityName=".Osnov_podatkiActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.rvir.projekt.Osnov_podatkiActivity" />
        </activity>
        <activity
            android:name=".Domov"
            android:label="@string/title_activity_domov"></activity>
    </application>

</manifest>